form .aligned label + div.readonly {
    margin-top: 0;
    margin-left: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #aaa !important;
    padding: 0 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 5px !important;
}
